<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/commons::head"></head>
<body>
<header th:replace="partials/commons::nav"></header>
<main role="main" class="d-flex flex justify-content-between">
    <nav th:replace="admin/partials/nav::admin-nav"></nav>
    <div class="container col-md-8 border-dark">
        <h1>Админ панел</h1>
        <p>Моля посочете какво бихте желали да администрирате от менюто</p>
    </div>
</main>
<footer th:replace="partials/commons::footer">
</footer>
</body>
</html>