<!DOCTYPE html>
<head></head>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <nav th:fragment="admin-nav" class="navbar d-flex flex-column col-md-3">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/categories">Категории</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/objects">Обекти</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/objects">Потребители</a>
                    </li>
                </ul>
            </div>
        </nav>

</body>
</html>