body {
    height: 100vh;
}

main {
    background-color: lightcyan;
    width: 80%;
    min-height: 90vh;
    display: block;
    margin: 0 auto;
    padding-bottom: 7vh;
}

header {
    background-color: lightskyblue;
}
footer {
    background-color: lightskyblue;
}