body {
    height: 100vh;
    font-family: 'Times New Roman', Serif, serif !important;
}


main {
    background-color: lightcyan;
    width: 80%;
    min-height: 90vh;
    display: block;
    margin: 0 auto;
    padding-bottom: 7vh;
}

header {
    background-color: lightskyblue;
}
footer {
    background-color: lightskyblue;
}
.fa-star.checked {
    color:orange;
}