<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/commons::head"></head>
<body>
<header th:replace="partials/commons::nav"></header>
<main role="main">
        <div class="container">
            <h2 class="text-center">Вход</h2>
            <form method="post"
                  th:action="@{/login}"
                  class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="username" class="font-weight-bold">Потребителско име</label>
                    <input th:value="${username}"
                           id="username"
                           name="username"
                           type="text" min="2" max="50"
                           class="form-control"
                           placeholder="Потребителско име"/>
                </div>
                <div class="form-group">
                    <label for="password" class="font-weight-bold">Парола</label>
                    <input
                            id="password"
                            name="password"
                            type="password" min="2"
                            max="20" class="form-control"
                            placeholder="Парола"/>

                </div>

                <p th:if="${bad_credentials}" class="errors alert alert-danger">
                    Невалидно име или парола!
                </p>

                <div class="row d-flex justify-content-center mt-2">
                    <div class="col col-md-4 d-flex justify-content-center">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-info btn-lg" value="Влез"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="partials/commons::footer">
</footer>
</body>
</html>