<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/commons::head"></head>
<body>
<header th:replace="partials/commons::nav"></header>
<main role="main">

    <div class="container">
        <h1 class="display-3">
            <div class=" pl-3 font-weight-bold text-center">
                Регистрация
            </div>
        </h1>
    </div>
    <div class="row d-flex justify-content-center">

        <div class="col-md-8">
            <div class="container bg-blur rounded">
                <form
                        th:action="@{/register}"
                        th:method="post"
                        th:object="${userModel}"
                        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="firstName" class="font-weight-bold">Име</label>
                            <input
                                    id="firstName"
                                    th:field="*{firstName}"
                                    th:errorclass="is-invalid"
                                    type="text"
                                    class="form-control"
                                    placeholder="First name"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Полето трябва да е между 4 и 15 символа.
                            </p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="lastName" class="font-weight-bold">Фамилия</label>
                            <input id="lastName"
                                   name="lastName"
                                   th:field="*{lastName}"
                                   th:errorclass="is-invalid"
                                   type="text" min="2" max="20" class="form-control"
                                   placeholder="Last name"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Полето трябва да е между 4 и 15 символа.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="username" class="font-weight-bold">Потребителско име"</label>
                            <input id="username"
                                   name="username"
                                   th:field="*{username}"
                                   th:errorclass="is-invalid"
                                   type="text" min="2" max="20" class="form-control"
                                   placeholder="Username"/>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="invalid-feedback errors alert alert-danger">
                                Полето трябва да е между 4 и 15 символа.
                            </p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="email" class="font-weight-bold">Имейл</label>
                            <input id="email"
                                   name="username"
                                   th:field="*{email}"
                                   th:errorclass="is-invalid"
                                   type="text" min="2" max="20" class="form-control"
                                   placeholder="Email"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="invalid-feedback errors alert alert-danger">
                                Задължително поле.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="password" class="font-weight-bold">Парола</label>
                            <input id="password"
                                   name="password"
                                   th:field="*{password}"
                                   th:errorclass="is-invalid"
                                   type="password" min="2" max="20" class="form-control"
                                   placeholder="Password"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Задължително поле.
                            </p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="confirmPassword" class="font-weight-bold">Потвърди парола</label>
                            <input id="confirmPassword"
                                   th:field="*{confirmPassword}"
                                   type="password" min="2" max="20" class="form-control"
                                   placeholder="Confirm your password"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Задължително поле.
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-4">
                            <div class="button-holder d-flex">
                                <input type="submit" class="btn btn-info btn-lg" value="Create account"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/commons::footer">
</footer>
</body>
</html>