<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/commons::head"></head>
<body>
<header th:replace="partials/commons::nav"></header>
<main role="main">

<!--    TODO make filter by category and city-->
    <div class="card-link float-right mt-2 mr-2" sec:authorize="isAuthenticated()">
        <button type="button" class="btn btn-sm btn-outline-primary">
            <a class="nav-link" href="/objects/create" sec:authorize="isAuthenticated()">Добави обект</a>
        </button>
    </div>

    <div th:replace="objects/partials/objects_list::list"></div>


</main>
<footer th:replace="partials/commons::footer">
</footer>
</body>
</html>